@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  @apply bg-white dark:bg-monokai rounded-[10px] focus:outline-none py-2 text-[14px]  font-medium placeholder:text-neutral-light placeholder:dark:text-neutral-dark text-monokai dark:text-white shadow-custom-black dark:shadow-custom-white;
}


th {
  @apply text-monokai dark:text-white font-semibold text-[16px] text-start py-3;
}

tr > th {
  @apply bg-slate-50 dark:bg-monokai-faded;
}

td {
  @apply py-1
}

tr:nth-child(odd) {
  @apply bg-neutral-light dark:bg-neutral-dark text-monokai 
}

::selection {
  @apply bg-neutral-dark dark:bg-neutral-light text-white dark:text-monokai;
}

::-moz-selection {
  @apply bg-neutral-dark dark:bg-neutral-light text-white dark:text-monokai;
}


.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.big-2 {
  @apply text-2xl text-monokai dark:text-white
}

.big-3 {
  @apply text-3xl text-monokai dark:text-white
}

.big-4 {
  @apply text-4xl text-monokai dark:text-white
}